.container{
    width: 400px;
    height: 300px;
    border: 1px solid #f1f1f1;
    margin-left:auto;
    margin-right:auto;
    perspective: 1000px; 
    cursor: pointer;
}

.card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .container:hover .card {
    transform: rotateY(180deg);
  }

  .front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

 
  .back {
    background-color: lightblue;
    color: white;
    transform: rotateY(180deg);
  }